[submodule "poohcode"]
	path = poohcode
	url = https://github.com/poohgithub/poohcode
[submodule "dao-budget-contracts"]
	path = dao-budget-contracts
	url = https://github.com/poohgithub/dao-budget-contracts
[submodule "kaggle2"]
	path = kaggle2
	url = https://github.com/linked0/kaggle2
[submodule "web2"]
	path = web2
	url = https://github.com/linked0/web2
[submodule "zksync-era"]
	path = zksync-era
	url = https://github.com/poohgithub/zksync-era
