node_modules
.env
coverage
coverage.json
typechain-types
yarn-error.log
lib

#Hardhat files
artifacts/
artifacts-ref/
hh-cache/
hh-cache-ref/
src/typechain/

#foundry test compilation files
cache
out
reference-out
optimized-out
reference-working

.DS_Store

# VScode
.vscode
__pycache_
.idea/
