node_modules
.env
.env.devnet
.env.marigold.*
.DS_Store

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

.venv*

# ignore any ceremony (ptau) files
**/*.ptau